@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


*{
    margin: 0;
    text-align: center;
    user-select: none;
}

/* canvas{
    position: absolute;
    width: 100vh;
    background-color: rgb(165, 141, 116);
} */

#mainHeading{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 60px;
    color: rgb(70, 169, 55);
}

#smallMessage{
    font-size: 30px;
}

#main{
    /* background-color: rgb(255, 255, 255); */
    margin: 0;
    height: 31rem;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(68, 132, 90);
    width: 100%;
}

#colorBoxesContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin: 50px 200px;
    margin-bottom: 0;
}

.colorBoxes{
    width: 250px;
    height: 200px;
    border: 7px solid black;
    border-radius: 20px;
}
#noOfGuesses{
    position: absolute;
    font-size: 25px;
    left: 3px;
    font-weight: 900;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#message{
    color: black;
    position: absolute;
    right: 30%;
    top: 50%;
    font-size: 2rem;
}